.container_dropdownlegal {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.title {
  font-size: 18px;
  font-weight: 400;
}

.description {
  font-size: 16px;
  padding: 0 20px 0 5px;
}

.titleDescription {
  font-size: 17px;
  padding: 0 20px 0 5px;
  margin-top: 30px;
  font-weight: 500;
}
