.title {
  font-size: 22px;
  font-weight: 500;
  padding: 20px 0 40px;
  margin: 8px 0;
  border-top: 1px solid #212121;
}

.containerDropdownLegal {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
