@import 'styles/variables.scss';

.container {
  cursor: pointer;
}

#disable {
  background-color: $gray;
  border: none;
  color: $white;
  cursor: auto;

  &:hover {
    border: none;
    background-color: $gray;
    color: $white;
  }
}
