.bodyContainer {
  & > div {
    margin-bottom: 45px;

    &:nth-child(1) {
      margin-bottom: 140px;
      h3 {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    &:nth-child(10) {
      margin-bottom: 140px;
      margin-top: 40px;

      h3 {
        font-size: 22px;
        margin-bottom: 20px;
      }
    }

    h3 {
      font-size: 16px;
      font-weight: 500;
      margin-bottom: 10px;
    }

    p {
      font-size: 16px;
      font-weight: 300;
    }
  }
}
